openapi: 3.1.0
info:
  title: Minehut API
  description: >
    This specification is an unofficial API specification of the Minehut API.
    Publicly accessible routes will be documented, however additional routes may be contributed by the community.
    Please keep in mind that usage of the API is meant for private use only, and using the API for
    malicious purposes is not allowed.


    This API is maintained by Santio for usage in the MinehutUtils project used in the official Minehut discord.


    There is also examples for the unoffical TypeScript/JavaScript SDK created by Tarna for some endpoints. Use `npm install minehut` to install
    the SDK using [Node.js](https://nodejs.org).
  version: 1.0.0
servers:
  - url: https://api.minehut.com
    description: The production API
  - url: https://api.dev.minehut.com/
    description: The development API
tags:
  - name: Network
    description: Routes relating to the core network, such as statistics and player distribution
  - name: Servers
    description: Routes relating to player servers running on Minehut, such as querying data, getting servers, and more
  - name: Users
    description: Routes relating to player accounts and user data
paths:
  /network/simple_stats:
    get:
      tags:
        - Network
      summary: Get the network statistics
      description: Returns the network statistics of the server
      operationId: getNetworkStatistics
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const homePageStats = await minehut.getSimpleStats();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.getSimpleStats().then((homePageStats) => {/* Your logic here */})
      responses:
        200:
          description: The network statistics
          content:
            application/json:
              schema:
                $ref: './components/network/simple_stats.yaml/#/SimpleStats'
                description: The network statistics
  /network/homepage_stats:
    get:
      tags:
        - Network
      summary: Get the homepage statistics
      description: Returns the statistics that are displayed on the Minehut homepage
      operationId: getHomepageStatistics
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const homePageStats = await minehut.getHomePageStats();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.getHomePageStats().then((homePageStats) => {/* Your logic here */})
      responses:
        200:
          description: The homepage statistics
          content:
            application/json:
              schema:
                $ref: './components/network/homepage_stats.yaml/#/HomepageStats'
                description: The homepage statistics
  /network/players/distribution:
    get:
      tags:
        - Network
      summary: Get the player distribution
      description: Returns the distribution of players across the network
      operationId: getPlayerDistribution
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const playerDistribution = await minehut.getPlayerDistribution();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.getPlayerDistribution().then((playerDistribution) => {/* Your logic here */})
      responses:
        200:
          description: The player statistics and distribution
          content:
            application/json:
              schema:
                $ref: './components/network/player_stats.yaml/#/PlayerStats'
                description: The player statistics and distribution
  /network/resourcepacks/info:
    get:
      tags:
        - Network
      summary: Get the resource pack information
      description: Returns the information about the Minehut resource pack
      operationId: getResourcePackInfo
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const resourcePacks = await minehut.getResourcePack();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.getResourcePack().then((resourcePacks) => {/* Your logic here */})
      responses:
        200:
          description: The resource pack information
          content:
            application/json:
              schema:
                $ref: './components/network/resourcepack_info.yaml/#/ResourcePackInfo'
                description: The resource pack information
  /network/ranks:
    get:
      tags:
        - Network
      summary: Get all ranks
      description: Get the list of every rank on Minehut
      operationId: getRanks
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const ranks = await minehut.getRanks();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.getRanks().then((ranks) => {/* Your logic here */})
      responses:
        200:
          description: The ranks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components/network/rank.yaml/#/Rank'
                description: A collection of every rank
  /servers:
    get:
      tags:
        - Servers
      summary: Get all online servers
      description: Get a list of all online servers on Minehut
      operationId: getServers
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            // You can use filters builtin to the SDK to get a more specific result
            // See https://github.com/jellz/minehut/blob/2549c5333cbae295b59b9140647b0541e2338491/src/server/ServerManager.ts#L35
            const servers = await minehut.servers.getOnlineServers();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            // You can use filters builtin to the SDK to get a more specific result
            // See https://github.com/jellz/minehut/blob/2549c5333cbae295b59b9140647b0541e2338491/src/server/ServerManager.ts#L35
            minehut.servers.getOnlineServers().then((servers) => {/* Your logic here */})
      parameters:
        - name: q
          in: query
          required: false
          description: The query to search for servers
          schema:
            type: string
          example: SantioTest
        - name: category
          in: query
          required: false
          description: The category to filter servers by
          schema:
            type: string
          example: Box
        - name: limit
          in: query
          required: false
          description: The maximum amount of servers to return
          schema:
            type: integer
          example: 10
      responses:
        200:
          description: The servers
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_players:
                    type: integer
                    minimum: 0
                    description: The total amount of players online on the network
                    example: 1000
                  total_servers:
                    type: integer
                    minimum: 0
                    description: The total amount of servers online on the network
                    example: 100
                  total_search_results:
                    type: integer
                    minimum: 0
                    description: The total amount of servers (included in this response) that are publicly searchable
                    example: 100
                  servers:
                    type: array
                    items:
                      $ref: './components/server/listed_server.yaml/#/ListedServer'
                    description: A list of all servers
                description: The response containing all servers
  /server/{identifier}:
    get:
      tags:
        - Servers
      summary: Get a server
      description: Get a single server either by its id or name
      operationId: getServer
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const server = await minehut.servers.get({ name: "Golf", byName: true /* Set `byName` to false to use a server id instead */ });
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.servers.get({ name: "Golf", byName: true /* Set `byName` to false to use a server id instead */ }).then((server) => {/* Your logic here */})
      parameters:
        - name: byName
          in: query
          required: true
          description: Whether to get the server by its name or id
          schema:
            type: boolean
          example: true
        - name: identifier
          in: path
          required: true
          description: The id or name of the server
          schema:
            type: string
          example: SantioTest
      responses:
        200:
          description: The server
          content:
            application/json:
              schema:
                type: object
                properties:
                  server:
                    $ref: './components/server/server.yaml/#/Server'
                    description: The server
                description: The server
        400:
          description: The server was not found (Status code is actually 200)
          content:
            application/json:
              schema:
                type: object
                properties:
                  server:
                    type: object
                    description: This value is null if the server was not found
                    example: null
                description: The error message
  /servers/icons:
    get:
      tags:
        - Servers
      summary: Get all icons
      description: Get a list of all icons available for purchase
      operationId: getIcons
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const icons = await minehut.icons.fetchAll();
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.icons.fetchAll().then((icons) => {/* Your logic here */})
      responses:
        200:
          description: The icons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components/server/icon.yaml/#/Icon'
                description: A collection of every icon
  /v1/server/categories:
    get:
      tags:
        - Servers
      summary: Get all categories
      description: Get a list of all categories
      operationId: getCategories
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            const serverCategories = await minehut.servers.getServerCategories({ fromCache: true /* Pull from builtin cache or not */ });
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            minehut.servers.getServerCategories({ fromCache: true /* Pull from builtin cache or not */ }).then((serverCategories) => {/* Your logic here */})
      responses:
        200:
          description: The categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: './components/server/category.yaml/#/Category'
                    description: A collection of every category
  /cosmetics/profile/{uuid}:
    get:
      tags:
        - Users
      summary: Get a user's cosmetic profile
      description: Get a user's cosmetic profile, which also contains their rank
      operationId: getCosmeticProfile
      x-codeSamples:
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (ES6)'
          source: |
            import { Minehut } from 'minehut';

            const minehut = new Minehut();
            // Input a UUID or use a player name
            const server = await minehut.players.getCosmetics("Giftedly");
        - lang: 'JavaScript'
          label: 'Using Minehut SDK (cjs)'
          source: |
            const { Minehut } = require("minehut")
            
            const minehut = new Minehut();
            // Input a UUID or use a player name
            minehut.players.getCosmetics("Giftedly").then((server) => {/* Your logic here */})
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the user
          schema:
            type: string
            format: uuid
          example: "0bfea1b6-8ed9-4eb9-93da-c4273bfa0a09"
      responses:
        200:
          description: The user's cosmetic profile
          content:
            application/json:
              schema:
                $ref: './components/cosmetics/profile.yaml/#/CosmeticProfile'
                description: The user's cosmetic profile